.title {
    text-align: center;
    font-size: 32px;
    font-weight: 900;
    margin: 10px 0;
}

.gallery-wrapper {
    width: 100%;
    margin: 0 auto;
    font-family: Helvetica, Arial, sans-serif;
} 

.gallery-wrapper .gallery {
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.gallery-wrapper .gallery div {
    position: relative;
    display: flex;
}

.gallery-wrapper .gallery div .overlay {
    position: absolute;
    background-color: var(--paletteColor1);
    width: 100%;
    opacity: .75;
    bottom: 0;
}

.overlay ul {
    padding-left: 20px;
}

.overlay ul li {
    color: var(--paletteColor2);
    padding: 5px 0;
    list-style: none;
}

.buttons-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    width: 640px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px 0;
}

.buttons button {
	box-shadow: inset 0px 1px 0px 0px #a6827e;
	background: linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
	background-color: #7d5d3b;
	border-radius: 3px;
	border: 1px solid #54381e;
	display: inline-block;
	cursor: pointer;
	color:#ffffff;
	font-family: Arial;
	font-size: 25px;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #4d3534;
}
.buttons button:hover {
	background: linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
	background-color: #634b30;
}

.buttons button:active {
	position: relative;
	top: 1px;
}

.buttons button:disabled {
    background: linear-gradient(to bottom, #ccc 5%, #dedede 100%);
	background-color: #ccc;
    cursor: not-allowed;
    color: #000;
}

.images {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
} 

.images img {
  margin-right: 20px;
  margin-bottom: 20px;
  width: 100px;
  transition: box-shadow 200ms ease;
  cursor: pointer;
}

.images .active {
  box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.75);
  transition: box-shadow 200ms ease;
}